
<div class="row" style="margin-left: 10px;">
  <div class="col-md-6">
    <h2>Employee Registration Page</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onRegister(registrationForm)">
      <div class="form-row">
      
        <div class="form-group col-5">
          <label>First Name</label>
          <input type="text" formControlName="firstName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="form-group col-5">
          <label>Last Name</label>
          <input type="text" formControlName="lastName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Geneder</label>
        <select formControlName="gender" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
          <option value=""></option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
          <div *ngIf="f.gender.errors.required">Gender is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-row">
        <!-- <div class="form-group col">
          <label>Password</label>
          <input type="textarea" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div> -->
        <div class="form-group col">
          <label>Mobile Number</label>
          <input type="number" formControlName="mobile" class="form-control">
          <div class="invalid-feedback" *ngIf="f.mobile.errors">
            <p *ngIf="f.mobile.errors.pattern" class="text-danger">Number Only</p>
          </div>
        </div>
      </div>
      <!-- <div class="form-group form-check">
        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input"
          [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
        <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
      </div> -->
      <div class="text-center">
        <button class="btn btn-primary mr-1">Register</button>
      </div>
    </form>
  </div>
</div>